 <div class="span5 well-large">
     <button type="button" class="btn" data-toggle="collapse" data-target="#search">
<i class="icon-search"></i>Search
</button>
    <div id="search" class="collapse on">
    <h1>Search Rekap Absensi Bulanan</h1>
    
    <form class="form-horizontal" name="formEdit">
        <div class="control-group" ng-class="{error: formEdit.label.$invalid}">
            <label class="control-label" for="TU">Periode : &nbsp;</label>
            
             <input id="tgl" type="date" value="auto"  
                   ng-model="currentHistory.tgl"
                   required
                   ui-validate="{permissionValueAvailable: isPermissionValueAvailable}"/>
            <span ng-show="formEdit.tgl.$error.required" class="help-inline">Harus diisi</span>
        </div>
            <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Search</button>
            <button type="button" class="btn" ng-click="baru()">Cancel</button>
        </div>
</div>

    <div class="span5 well-large">
     <h1>Rekap Absensi Bulanan</h1>
     
     <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>NIS</th>
                <th>Nama</th>
                <th>Kelas</th>
                <th>Jam Masuk</th>
                <th>Jam Keluar</th>
                <th>Lama</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in permissions">
                <td>{{x.NS}}</td>
                <td>{{x.N}}</td>
                <td>{{x.K}}</td>
                <td>{{x.JM}}</td>
                <td>{{x.JK}}</td>
                <td>{{x.L}}</td>
                <td>
                    <a ng-click="edit(x)"><i class="icon-edit"></i></a>
                    <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
 </div>