<div class="span5 well-large">
    <h1>History Nilai</h1>

    <a class="btn" ng-click="baru()">
        <i class="icon-plus-sign"></i>Tambah Data
    </a>
    <hr>
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Nomor Ujian</th>
                <th>Tanggal Ujian</th>
                <th>Mata Pelajaran</th>
                <th>Nilai</th>
                <th>Keterangan(Melebihi KKM/Kurang dari KKM)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in permissions">
                <td>{{x.label}}</td>
                <td>{{x.value}}</td>
                <td>
                    <a ng-click="edit(x)"><i class="icon-edit"></i></a>
                    <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="span5 well-large">
    <h1>Search</h1>
    <form class="form-horizontal" name="formEdit">
        <div class="control-group" ng-class="{error: formEdit.label.$invalid}">
            <label class="control-label" for="TU">Tanggal Ujian : &nbsp;</label>
            <input type="text" id="tanggalujian" 
                   name="TU" 
                   placeholder="TanggalUjian" 
                   ng-model="currentPermission.TU"
                   required>
            <span ng-show="formEdit.label.$error.required" class="help-inline">Harus diisi</span>
        </div>
        <div class="control-group" ng-class="{error: formEdit.value.$invalid}">
            <label class="control-label" for="MP">Mata Pelajaran : &nbsp;</label>
            <input type="combobox" id="matapelajaran"
                   id="matapelajaran" 
                   name="MP" 
                   placeholder="MataPelajaran" 
                   ng-model="currentPermission.MP"
                   required
                   ui-validate="{permissionValueAvailable: isPermissionValueAvailable}">
            <span ng-show="formEdit.value.$error.required" class="help-inline">Harus diisi</span>
            <span ng-show="formEdit.value.$error.permissionValueAvailable" class="help-inline">sudah ada yang pakai</span>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Simpan</button>
            <button type="button" class="btn" ng-click="baru()">Batal</button>
        </div>
    </form>
</div>