<html>
 <div class="span5 well-large">
    <h1>History Nilai</h1>
    

    <hr>
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Nomor Ujian</th>
                <th>Tanggal Ujian</th>
                <th>Mata Pelajaran</th>
                <th>Nilai</th>
                <th>Keterangan</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in permissions">
                <td>{{x.label}}</td>
                <td>{{x.value}}</td>
                <td>
                    <a ng-click="edit(x)"><i class="icon-edit"></i></a>
                    <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="span5 well-large">
    <h1>Search</h1>
    <form class="form-horizontal" name="formEdit">
        <div class="control-group" ng-class="{error: formEdit.label.$invalid}">
            <label class="control-label" for="TU">Tanggal Ujian : &nbsp;</label>
            <input type="text" id="tanggalujian" 
                   name="TU" 
                   placeholder="TanggalUjian" 
                   ng-model="currentPermission.TU"
                   required>
            <span ng-show="formEdit.label.$error.required" class="help-inline">Harus diisi</span>
        </div>
        <div class="control-group" ng-class="{error: formEdit.value.$invalid}">
            <label class="control-label" for="MP">Mata Pelajaran : &nbsp;</label>
                  <select ui-select2 ng-model="currentUser.role.MP" data-placeholder="Select One">
                      <option>Agama</option>
                      <option>Bahasa Indonesia</option>
                      <option>Bahasa Inggris</option>
                      <option>Ilmu Pengetahuan Alam</option>
                      <option>Fisika</option>
                      <option>Kimia</option>
                      <option>Matematika</option>
                      <option>Ilmu Pengetahuan Sosial</option>
                      <option>Penjaskes</option>
                      <option>Seni Budaya</option>
                      <option>RPL(kejuruan)</option>
                    <option ng-repeat="role in roles" value="{{role.MP}}">{}}</option>
              </select>
            <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Save</button>
            <button type="button" class="btn" ng-click="baru()">Cancel</button>
        </div>
    </form>
</div>