<div class="span5 well-large">
    <h1>History Fees </h1>
    <hr>
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Tanggal</th>
                <th>Pemabayaran</th>
                <th>Jumlah Bayar</th>
            </tr>
        </thead>
<tbody>
            <tr ng-repeat="x in permissions">
                <td>{{x.Tanggal}}</td>
                <td>{{x.Pembayaran}}</td>
                <td>{{x.Jumah Bayar}}</td>
                <td>
                    <a ng-click="edit(x)"><i class="icon-edit"></i></a>
                    <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="span5 well-large">
     <button type="button" class="btn" data-toggle="collapse" data-target="#search">
    <i class="icon-search"></i>Search 
    </button>
    <div id="search" class="collapse on">
    <h1>Search History Fees</h1>
    
    
    <form class="form-horizontal" name="formEdit">
       <div class="control-group" ng-class="{error: formEdit.tgl.$invalid}">
            <label class="control-label" for="tgl">Tanggal : &nbsp;</label>

            <input id="tgl" type="date" value="auto"  
                   ng-model="currentHistory.tgl"
                   required
                   ui-validate="{permissionValueAvailable: isPermissionValueAvailable}"/>
            <span ng-show="formEdit.tgl.$error.required" class="help-inline">Harus diisi</span>
           
        </div>

         <div class="control-group" ng-class="{error: formEdit.jbr.$invalid}">
            <label class="control-label" for="jbr">Jumlah Bayar : &nbsp;</label>
            <input type="text" id="Jumlah Bayar" 
                   name="jbr" 
                   placeholder="Jumlah Bayar" 
                   ng-model="currentHistory.no"
                   required>
            <span ng-show="formEdit.jbr.$error.required" class="help-inline"></span>
        </div>
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-click="cari()" ng-disabled="isClean() || formEdit.$invalid">Search</button>
            <button type="button" class="btn" ng-click="baru()">Batal</button>
        </div>
        </div>
</div>